@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;400&display=swap');

 * {
    margin: 0;
    padding: 0;
    font-family: Archivo;
 }

 
.navbar {
    overflow: hidden;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: -30px;
}

.navbar a {
    float: right;
    display: block;
    color: #373737;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar #logo {
    float: left;
    display: block;
    color: #373737;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36px;
    margin-left: 40px;
}

.navbar #logo:hover {
    background-color: #fff;
    color: #057CBF;
}

.navbar a:hover {
    background-color: #057CBF;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.blue_list {
    width: 99%;
    height: 2px;
    margin: 0 auto;
    background-color: #057CBF;
}

.left_header {
    float: left;
    width: 10%;
    margin-left: 30%;
    margin-top: 10%;
}


.rigth_header {
    float: right;   
    width: 30%;
    margin-top: 15%;
    margin-right: 300px;
    font-size: 25px;
}


.rigth_skills input {
margin-top: 10px;
background-color: #057CBF;
border: none;
width: 80px;
height: 40px;
font-size: 11px;
font-weight: 500;
text-align: center;
border-radius: 5px;
color: #fff;
}
